# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7a6230c717a379af3b0f6c0849f793e013583bad9758ed5bef716d57b81fa64f15d6a2129203d802f3ba7c7941d48a9160c4770fc7fee93eae9724dccc78aaba

test:
  secret_key_base: 5c7bbe8aa9b68fafb09d815e23c9462eb0c5d99fa7a358f25570aed7a3824ca16c418029d7947ef9d75534b4c9228dd48f0a5245f39d12d2899cdf83be336fb6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
