<ul class="list-unstyled side-nav">
  <li><a href="#" class="active"><i class="fa fa-cloud"></i> Side Nav</a></li>
  <li><a href="#"><i class="fa fa-user"></i> About Us</a></li>
  <li><a href="#"><i class="fa fa-dollar"></i> Our Pricing</a></li>
  <li><a href="#"><i class="fa fa-bars"></i> Our Services</a></li>
  <li><a href="#"><i class="fa fa-users"></i> Our Team</a></li>
  <li><a href="#"><i class="fa fa-users"></i> Our Team</a></li>
  <li><a href="#"><i class="fa fa-search"></i> 404 Page</a></li>
</ul>
